{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "globals": {
    "requireApp": true,
    "window": true,
    "RB": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "linebreak-style": [
      0,
      "unix"
    ],
    "no-use-before-define": "off",
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "ignore"
      }
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "getTemplate",
          "className",
          "regions",
          "ui",
          "childViewTriggers",
          "events",
          "triggers",
          "childView",
          "emptyView",
          "tagName",
          "parse",
          "collectionEvents",
          "modelEvents",
          "defaults",
          "validation",
          "tagName"
        ]
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      {
        "objects": "only-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
      }
    ]
  }
}